<div class="container search-container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-link bg-white" type="button" (click)="enterSearch()"><i class="fa fa-search"></i></button>
    </div>
    <input type="text" class="form-control shadow-none" placeholder="Search by keyword, technology or job title" [(ngModel)]="gFilter" (ngModelChange)="enterSearch()" >
  </div>
  <div class="button-container">
    <button class="btn btn-secondary" type="button" (click)="setCategory('')" *ngIf="(gSearchFilter.Category)">Clean</button>

    <button class="btn btn-secondary" type="button" *ngFor="let lCategory of gCategories" (click)="setCategory(lCategory)">{{ '#' + lCategory }}</button>

  </div>
</div>
<div class="container table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Category</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lJob of gFilteredJobs">
        <td>{{ lJob.title }}</td>
        <td>{{ lJob.category }}</td>
        <td>{{ lJob.location }}</td>
      </tr>
      <tr *ngIf="gFilteredJobs && gFilteredJobs.length == 0">
        <td colspan="3">Sorry, no positions were found for your search</td>
      </tr>
    </tbody>
  </table>
</div>
