.container {
  padding: 30px 50px;
}

.search-container {
  background: black;
}

.table-container {
  background: #fafafa;
}

.search-container .btn-link {
  color: black;
}

.search-container .btn-link:hover {
  color: #3c3c3c;
}

.button-container .btn {
  margin-right: 10px;
}
